.fa-calendar-week{
    margin-left:-1.5em;
    opacity: 0.5;
}

.urgent-badge{
    background:red;
    width: 1em;
}

.urgent-text{
    display: inline;
}

.urgent{
color: red;
}
.moderate{
    color: burlywood;
}

.good{
    color: greenyellow;
}

.e-d-wrapper{
    display:inline;
    position: relative;
    left: 2em;
}